<html>
<head>
<title>VUE</title>
</head>
<body>
<table>
<tr>
<th>Code Formation</th>
<th>Diplome</th>
<th>Nombre Annee</th>
<th>Nom Formation</th>
<th>Double Diplome</th>
<th>Debut Accreditation</th>
<th>Fin Accreditation</th>
</tr>

<tr>
	    <td>{{formation.codeFormation}}</td>
	    <td>{{formation.diplome}}</td>
	    <td>{{formation.nombreDAnnee}}</td>
	    <td>{{formation.nomFormation}}</td>
		<td>{{formation.estUnDoubleDiplome}}</td>
		<td>{{formation.debutAccreditation}}</td>
		<td>{{formation.finAccreditation}}</td>
	</tr>
</table>
</body>
</html>