<div ng-controller="AjouterFormationCtrl">
	<div>
		<div>
			<div>
				<form role="form">
					<div>
						<label>Code Formation</label>
						<div>
							<input type="text" ng-model="formation.codeFormation" placeholder="code Formation">
						</div>
					</div>
					<div>
						<label>Nom Formation</label>
						<div>
							<input type="text" ng-model="formation.nomFormation" placeholder="Nom Formation">
						</div>
					</div>
					<div>
						<label>Diplome</label>
						<div>
							<select ng-model="formation.diplome">
								<option value="L">Licence</option>
								<option value="M">Master</option>
								<option value="D">Doctorat</option>
							</select>
						</div>
					</div>
					<div>
						<label>Double Diplome</label>
						<div>
							<select ng-model="formation.estUnDoubleDiplome">
								<option value="true">Oui</option>
								<option value="false">Non</option>
							</select>
						</div>
					</div>
					<div>
						<label>Nombre D'annee</label>
						<div>
							<input type="number" min="0" max="5" ng-model="formation.nombreDAnnee" placeholder="Nombre D'annee">
						</div>
					</div>
					<div>
						<label>Debut Accreditation</label>
						<div>
							<input type="text" ng-model="formation.debutAccreditation" placeholder="aaaa-mm-jj">
						</div>
					</div>
					<div>
						<label>Fin Accreditation</label>
						<div>
							<input type="text" ng-model="formation.finAccreditation" placeholder="aaaa-mm-jj">
						</div>
					</div>
					<div>
						<div>
							<button type="button" ng-click="ajouterFormation()">Ajouter</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>